.button{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 1.6px;
    color: $color-white;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 15px 30px;
    margin: 0;

    &:hover{
        color: $color-white;
    }

    &.alert{
        border-color: $color-alert;
        &:hover{
            color: $color-white;
        }
    }

    &.outline{
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        &:hover{
            border-color: transparent;
        }
    }
}

.call-link{
    color: $color-white;
    font-size: 29px;
    font-weight: 700;
    line-height: 1.28;
    margin-right: 50px;
    span{
        margin-left: 8px;
    }

    &.black{
        color: $color-black;
        span{
            color: $color-black;
        }
    }
}

.get-quote-banner{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;

    @include media(max-width, 1199px){
        bottom: -70px;
    }
    @include media(max-width, 1023px){
        position: static;
    }
}
.get-quote-banner__wrap{
    width: 100%;
    position: relative;
   

    .get-quote-banner__wrap{
        .large-12{
            max-width: 1200px;
        }
    }

    @include media(max-width, 1439px){
        margin: 0;
    }
}
.get-quote-banner__label{
    position: relative;
    max-width: 1280px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 0;
    
}

.get-quote-banner__label--right{
    label{
        color: $color-white;
        font-size: 24px;
        font-weight: 400;
        line-height: 0.83;
        letter-spacing: 0.12px;
        span{
            color: $color-alert;
        }
    }

    &.dark {
        label{
            color: $color-black;
        }
    }
}

.get-quote-banner__buttons{

    position: relative;
    max-width: 1280px;
    display: flex;

    .banner-button__get-quote{
        background: $color-dark;
        max-width: 570px;
        width: 100%;
        display: flex;

        &.white-cut{
            &:before{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 25px 0 0 25px;
                border-color: transparent transparent transparent $color-white;
                content: '';
                position: absolute;
            }
        }
        &.black-cut{
            &:before{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 25px 0 0 25px;
                border-color: transparent transparent transparent $color-black;
                content: '';
                position: absolute;
            }
        } 
        &.grey-cut{
            &:before{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 25px 0 0 25px;
                border-color: transparent transparent transparent $color-dark;
                content: '';
                position: absolute;
            }
        }

        i{
            width: 120px;
            padding: 41px 15px 42px;
            text-align: center;
            align-self: center;
        }
        span{
            align-self: center;
            background-color: $color-black;
            color: $color-white;
            padding: 41px 30px 42px;
            max-width: 450px;
            width: 100%;
            text-align: center;
            font-size: 40px;
            font-weight: 500;
            line-height: 1.28;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        &:hover{
            background: $color-white;
            i.icn-arrow-right.white{
                &:before{
                    content: url('../img/icn-arrow-red.svg');
                }
            }
            
            span{
                background-color: $color-dark;
                color: $color-white;
            }
        }
    }

    .banner-button__call-link{
        max-width: 720px;
        width: 100%;
        padding: 18px 30px 16px;
        background-color: $color-alert;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            align-self: flex-end;
            padding: 10px 10px 13px;
        }
        p{
            font-size: 45px;
            font-weight: 700;
            line-height: 1.29;
            color: $color-white;
            margin: 0;
            span{
                display: block;
                font-size: 27px;
                font-weight: 500;
                letter-spacing: 2.7px;
                color: $color-white;
                text-transform: uppercase;
                line-height: 1;
            }
        }

        &:after{
            content: url('../img/icn-arrow-point-to-call-white.svg');
            position: absolute;
            bottom: 0;
            right: -35px;
            top: -45px;
            z-index: 9;
        }

        &.dark{
            &:after{
                content: url('../img/icn-arrow-point-to-call-black.svg');
            }
        }

        &:hover{
            background: $color-white;
            i.icn-phone.white{
                content: url('../img/icn-phone-red-big.svg');
            }
            p{
                color: $color-black;
                span{
                    color: $color-black;
                }
            }

            &:after{
                content: url('../img/icn-arrow-point-to-call-red.svg');
            }
        }

        
    }

    @include media(max-width, 1023px){
        display: none;
        .banner-button__get-quote{
            &:before{
                display: none;
            }
            i{
                width: auto;
                padding: 15px;
            }
            span{
                font-size: 22px;
                padding: 21px 15px 22px;
            }
        }
        .banner-button__call-link {
            padding: 0 15px;
            max-width: 100%;
            &:after{
                content: url(../img/icn-arrow-point-to-call-white-small.svg);
                right: 25px;
                top: -15px;
            }
            &:hover{
                &:after{
                    content: url(../img/icn-arrow-point-to-call-red-small.svg);
                }
            }
            i{
                width: 45px;
                height: 45px;
                padding-top: 0;
                padding-bottom: 15px;
            }
            p {
                font-size: 24px;
                span{
                    font-size: 14px;
                }
            }
        }
    }

    @include media(max-width, 639px){
        .banner-button__get-quote{
            i{
                padding: 20px;
                &:before{
                    content:url('../img/icn-arrow-white-small.svg');
                }
            }
            &:hover{
                &:before{
                    display: none;
                }
                i{
                    content:url('../img/icn-arrow-red-small.svg');
                }
            }
        }
        .banner-button__get-quote span {
            font-size: 15px;
            padding: 23px 20px 22px;
            letter-spacing: 1.5px;
        }
        .banner-button__call-link {
            padding: 0 15px 0 0;
            
            &:after{
                right: 0;
            }
            i{
                width: auto;
                height: auto;
                padding-top: 0px;
                padding-bottom: 18px;
                content: url(../img/icn-phone-white-small.svg);
            }
            &:hover{
                i.icn-phone.white{
                    content: url(../img/icn-phone-red-small.svg);
                }
            }
            p{
                font-size: 17px;
                span{
                    font-size: 10px;
                }
            }

        }
    }
    @include media(max-width, 413px){
        .banner-button__get-quote span{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.fancybox-button{
    background: none;
}


/* ICONS - .icn */
.icn{
    display: inline;
    vertical-align: middle;
}

.icn-phone{
    content: url('../img/icn-phone-red.svg');
}

.icn-phone.white{
    content: url('../img/icn-phone-white-big.svg');
}
.icn-phone.red{
    content: url('../img/icn-phone-red-big.svg');
}

.icn-arrow-right{
    &:before{
        content: url('../img/icn-arrow-red.svg');
    }
}

.icn-arrow-right.white{
    &:before{
        content: url('../img/icn-arrow-white.svg');
    }
}

.icn-check-circle{
    content: url('../img/icn-check-circle.svg');
}

.icn-slider-arrow-left{
    content: url('../img/icn-arrow-light-gray.svg');
    &:hover{
        content: url('../img/icn-arrow-dark-gray.svg');
        transform: rotate(180deg);
    }
}
.icn-slider-arrow-right{
    content: url('../img/icn-arrow-light-gray.svg');
    transform: rotate(180deg);
    &:hover{
        content: url('../img/icn-arrow-dark-gray.svg');
        transform: rotate(360deg);
    }
}